#banner{
    max-width: 1376px;
    min-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 450px;
    border-radius: 4px;
    margin-top: 60px;
}
#banner .slider-img, #banner .slider-img a {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1376px;
    min-width: 900px;
    height: 450px;
    width: 100%;
}
#nav{
    max-width: 1376px;
    min-width: 900px;
    height: 50px;
    border-bottom: 1px solid rgba(36,33,46,.08);
    margin: 25px auto 20px;
}
#nav ul{
    width: 220px;
    margin: 0 auto;
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    cursor: pointer;
    color: #999;
    height: 50px;
}
#nav ul li{
    height: 48px;
    line-height: 48px;
}
#nav ul li:hover{
    color: #fb7299;
}
#nav ul li:after{
    position: relative;
    display: block;
    margin: 0 auto;
    content: "";
    border-radius: 2px;
    height: 4px;
    width: 0;
    bottom: 1px;
    background-color: #fb7299;
    transition: width .2s;
}
#nav ul li.activated:after{
    width: 100%;
}
#content{
    max-width: 1376px;
    min-width: 900px;
    margin: 25px auto 20px;
}
.pic-list__wrapper {
    margin-right: -24px;
}
.pic-list__wrapper .item {
    float: left;
    width: 256px;
    margin: 0 24px 20px 0;
    background: #fff;
    border-radius: 6px;
}
.pic-list__wrapper .img-link {
    overflow: hidden;
    position: relative;
    width: 256px;
    height: 192px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.pic-list__wrapper .img-info {
    overflow: hidden;
    height: 48px;
    box-sizing: border-box;
    padding: 0 15px 15px;
}
.pic-list__wrapper .img-link img{
    height: 192px;
    display: block;
    margin: 0 auto;
}
.pic-list__wrapper .img-info .btm {
    margin-top: 5px;
    color: #99a2aa;
}
#article{
    width: 864px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid #e3e8ec;
    border-radius: 12px;
    box-sizing: border-box;
}
.title-ctnr{
    margin: 0 0 14px;
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.tag-ctn{
    margin-bottom: 14px;
}
.title-desc{
    margin: 0 0 14px;
    font-size: 12px;
    color: #999;
    clear: both;
    overflow: hidden;
}
.tag-item{
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block
}
.link-tag{
    border: 1px solid #f2f3f5;
    background-color: #f2f3f5;
    color: #666;
    cursor: default;
    max-width: 100%;
    padding: 1px 14px;
    border-radius: 25px;
    vertical-align: middle;
    height: 21px;
    line-height: 19px;
    box-sizing: border-box;
}
.type-info{
    display: inline;
    margin-right: 5px;
    margin: 0 0 14px;
    font-size: 12px;
    color: #999;
}
.create-date{
    margin-left: 10px;
}
.visit-info{
    display: inline;
    float: right;
}
.visit-info span{
    margin-left: 15px;
}
#container{
    width: 1160px;
    margin: 24px auto 40px;
    display: flex;
    flex-direction: row;

}
.top hr{
    height: 1px;
    margin-top:14px;
    border: 0;
    background-color: #ececec;
}
.list{
    padding-top: 20px;
}
.list img{
    width: 100%;
    display: block;
    margin-bottom: 60px;
}
#recommend{
    position: fixed;
    width: 276px;

}
#recommend h4{
    font-size: 16px;
    color: #222;
    margin-bottom: 20px;
}
.recommend-fixed{
    background-color: #fff;
    border: 1px solid #e3e8ec;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.recommend-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.recommend-box li{
    width: 107px;
    margin-right: 20px;
}
.recommend-box li:nth-child(2n){
    margin-right: 0;
}
.recommend-box li img.lazy{
    width: 100%;
    margin-bottom: 8px;
}
.recommend-box li .img-info{
    line-height: 1.2;
     display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.user-operate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left-oper{
    width: 50%;
    border-right: 1px solid #e0dede;
    cursor: pointer;
}
.left-oper:hover .hands-icon{
    background-position: 0em -1271px;
}
.hands-icon{
    background-position: 0px -1147px;
}
.hands{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hands span{
    color: #ff8e29;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}
.svg-icon {
    display: inline-block;
    width: 31px;
    height: 31px;
    background-image: url('/static/images/svg-sprite.a0ef1b0e170fb8bb38e9306c13874a12.svg');
    background-repeat: no-repeat;
    background-size: 31px 3441px;
}
.hands-text{
    color: #666;
    font-size: 13px;
    padding-top: 16px;
    text-align: center;
}
.right-oper{
    width: 50%;
}
.user-save{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
    align-items: center;

}
.user-save:hover .save-icon{
    background-position: 0em -403px;
}
.save-icon{
    background-position: 0 -31px;
}

.share-icon{

}
.user-share{

}