{% extends 'gallary_base.html' %}
{% load staticfiles %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}
{% block content%}
    <div id="container">
        <div id="article">
            <div class="top">
                <h1 class="title-ctnr">标题</h1>
                <small class="title-desc">
                    <div class="tag-ctn">
                        <a href="" class="tag-item">
                            <div class="link-tag">御姐</div>
                        </a>
                    </div>
                    <div class="type-info">
                        <span>原创&nbsp;&nbsp;| </span>
                    </div>
                    <span class="create-date">上传时间：2017-11-30 20:51:57</span>
                    <div class="visit-info">
                        <span class="hits">浏览：2.8w</span>
                        <span class="favourites">收藏：147</span>
                        <span class="supports">支持：542</span>
                    </div>
                </small>
                <hr>
            </div>
            <div class="list">
                <img src="/static/images/live-box__img6.jpg" alt="">
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
    </script>
{% endblock %}