{% extends 'gallary_base.html' %}
{% load staticfiles %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}
{% block content%}
{#    轮播图#}
    <div id="banner" class="slider">
        <div class="slider-img">
            {% for banner in banners %}
                <a href="#" slider-title="{{ banner.title }}">
                    <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="#">
                </a>
            {% endfor %}
        </div>
        <div class="slider-title">
            <p></p>
        </div>
        <div class="slider-btn">
            {% for banner in banners %}
                {% ifequal forloop.counter 1 %}
                     <span class="cur"></span>
                {% else %}
                     <span class=""></span>
                {% endifequal %}

            {% endfor %}
        </div>
    </div>
{#    正文#}
    <div id="nav">
        <ul>
            <li class="activated">推荐</li>
            <li>最热</li>
            <li>最新</li>
        </ul>
    </div>
    <div id="content">
    <div class="mainCont clearfix" id="live" js-move="true">
        <ul id="list-wrapper" class="pic-list__wrapper clearfix">
            <div style="height: 370px;display: flex;flex-direction: row;align-items: center;justify-content: center">
                <img src="/static/images/loading.gif" alt="">
            </div>
        </ul>
    </div>
{% endblock %}
{% block custom_js %}
    <script type="text/javascript">
        var tab_index = null;
        {#设置tab切换#}
        $("#nav ul li").on('click',function () {
            if(tab_index == $(this).index()){
                return false
            }else{
                tab_index = $(this).index();
                getList(tab_index)
            }
            $(this).addClass('activated').siblings('li').removeClass('activated')
        })

    {#    获取list#}
        getList(0)

        $('#list-wrapper').delegate('li','click',function () {
            var id = $(this).attr('data-id');
            var host = location.host;
            window.location.href = 'http://' + host + '/gallery/detail/' + id
        })

        function getList(type) {
            $.ajax({
                url:'{% url "gallery:list" %}',
                type:'post',
                data:{
                    type:type
                },
                beforeSend:function () {
                    var html =
                        `<div style="height: 200px;display: flex;flex-direction: row;align-items: center;justify-content: center">
                            <img src="/static/images/loading.gif" alt="">
                        </div>`
                    $('#list-wrapper').html(html)
                },
                success:function (res) {
                    var html = '';
                    res.data.forEach(function (el) {
                        html +=
                        `<li class="item" data-id="${el.pk}">
                            <a class="img-link">
                                <img class="lazy" data-original="{{ MEDIA_URL }}${el.fields.cover}" alt="#">
                            </a>
                            <div class="img-info">
                                <a>${el.fields.title}</a>
                                <div class="btm">
                                    <div class="user">
                                        <i></i>铃椛</div>
                                    <div class="online">
                                        <i></i>6732</div>
                                </div>
                            </div>
                        </li>`
                    })
                    setTimeout(function () {
                        $('#list-wrapper').html(html)
                        $("img.lazy").lazyload({effect: "fadeIn"});
                    },200)
                }
            })
        }
    </script>
{% endblock %}