<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>尽情的感受吧~</title>
    <link rel="shortcut icon" href="/static/images/fd039245d688d43fd4ffdc55791ed21b0ff43bc6.jpg">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrapValidator.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<style>
    .checkbox i.form-control-feedback {
        top: -2px;
    }
</style>

<body>
    <header id="header">
        <div id="page_top">
            <div class="bg-wrap">
                <div class="bg"></div>
            </div>
            <div class="header-top">
                <div class="page-width clearfix">
                    <div class="header-top__nav">
                        <ul>
                            <li class="item item-home">
                                <a href="index.html">主站</a>
                            </li>
                            <li class="item">
                                <a href="#">图库</a>
                            </li>
                            <li class="item">
                                <a>动漫</a>
                                <div class="game-center header-hover">
                                    <div class="c clearfix">
                                        <div class="fl">
                                            <div class="imgbox">
                                                <a>
                                                    <img src="/static/images/game-center__img1.jpg" alt="#">
                                                    <span>命运-冠位指定（Fate/GO）</span>
                                                </a>
                                            </div>
                                            <div class="game-img">
                                                <a>
                                                    <img src="/static/images/game_img1.png" alt="#">
                                                    <span>刀剑乱舞</span>
                                                </a>
                                                <a>
                                                    <img src="/static/images/game_img2.png" alt="#">
                                                    <span>刀剑乱舞</span>
                                                </a>
                                                <a>
                                                    <img src="/static/images/game_img3.jpg" alt="#">
                                                    <span>刀剑乱舞</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="fr">
                                            <div class="game-list">
                                                <div class="title">
                                                    <i></i>
                                                    <a>热门动漫</a>
                                                </div>
                                                <div class="all">
                                                    <a>仙剑奇侠传幻璃镜</a>
                                                    <a>魔法禁书目录</a>
                                                    <a>萌王EX</a>
                                                    <a>妖精的衣橱</a>
                                                    <a>神代梦华谭</a>
                                                    <a>碧蓝航线</a>
                                                    <a>光明大陆</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="gameImg"></div>
                                </div>
                            </li>
                            <li class="item">
                                <a>电影</a>
                                <div class="live-box header-hover">
                                    <div class="live-box__c">
                                        <div class="fl">
                                            <div class="title">热门直播:</div>
                                            <div class="cont">
                                                <a>
                                                    <img src="/static/images/live-box__img1.jpg" alt="#">
                                                    <i>LIVE</i>
                                                    <p>热爱电竞の三三</p>
                                                </a>
                                                <a>
                                                    <img src="/static/images/live-box__img2.jpg" alt="#">
                                                    <i>LIVE</i>
                                                    <p>大角虫漫画</p>
                                                </a>
                                                <a>
                                                    <img src="/static/images/live-box__img3.jpg" alt="#">
                                                    <i>LIVE</i>
                                                    <p>木本青</p>
                                                </a>
                                                <a>
                                                    <img src="/static/images/live-box__img4.gif" alt="#">
                                                    <i>LIVE</i>
                                                    <p>一只小鹿噜噜噜</p>
                                                </a>
                                                <a>
                                                    <img src="/static/images/live-box__img5.jpg" alt="#">
                                                    <i>LIVE</i>
                                                    <p>污叶妹屮</p>
                                                </a>
                                                <a>
                                                    <img src="/static/images/live-box__img6.jpg" alt="#">
                                                    <i>LIVE</i>
                                                    <p>污污_永远的魔法师_</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="fl">
                                            <div class="title">热门直播:</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <a>音乐</a>
                            </li>
                            <li class="item">
                                <a>异世界</a>
                                <!-- <div class="header-app header-hover">
                          <i></i>
                        </div> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-c">
            <div class="page-width">
                <a href="#" id="header_logo"></a>
                <p id="header_title"></p>
                <div class="header-title">哔哩哔哩 (゜-゜)つロ 干杯~</div>
            </div>
        </div>
    </header>
    <!-- 找回密码 -->
    <div class="title-line">
        <span class="tit" style="font-size: 38px;">找回密码</span>
    </div>
    <div class="forget-main">
        <div id="fNav" class="fNav">
            <div class="lineWrap lineWrap1 active">
                <h1>找回方式</h1>
                <div class="line"></div>
                <span>1</span>
            </div>
            <div class="lineWrap lineWrap2">
                <h1>验证身份</h1>
                <div class="line"></div>
                <span>2</span>
            </div>
            <div class="lineWrap lineWrap3">
                <h1>设置新密码</h1>
                <div class="line"></div>
                <span>3</span>
            </div>
            <div class="lineWrap lineWrap4">
                <h1>完成</h1>
                <div class="line"></div>
                <span>4</span>
            </div>
        </div>
        <div class="c">
            <div id="userName" style="display:block" class="f-block">
                <p class="color666 mb20">验证注册手机号或者邮箱</p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" placeholder="请输入手机号或者邮箱" class="form-control" id="account" name="account">
                        </div>
                    </div>
                    <div class="form-group">

                    </div>
                </form>
                <div class="row">
                    <div class="form-group btn-group">
                        <div class="col-sm-12">
                            <button id="step1" class="btn btn-primary">下一步</button>
                        </div>
                    </div>
                    <div class="form-group btn-group  col-sm-offset-2">
                        <a class="btn btn-default" href="login.html">返回登陆</a>
                    </div>
                </div>
            </div>
            <div id="mobileUser" style="display:none" class="f-block yzUser">
                <span class="clearfix"></span>
                <div style="display:none" class="shouji">
                    <div class="yzMobile yz">
                        <h1>验证手机：
                            <span class="J_phone_num"></span>
                        </h1>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="text" placeholder="手机短信验证码" class="J_mobileWarp form-control">
                            </div>
                            <button class="btn btn-primary col-sm-4 col-sm-offset-2" style="height: 40px;line-height: 40px;padding: 0;">获取短信验证码</button>
                        </div>
                    </form>
                    <span class="clearfix"></span>
                    <div class="row">
                        <div class="form-group btn-group">
                            <div class="col-sm-12">
                                <button id="step2" class="btn btn-primary">下一步</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display:none" class="youxiang">
                    <div class="yzMail yz">
                        <h1>验证邮箱：
                            <span class="J_mail"></span>
                        </h1>
                    </div>
                    <div class="codeWrap">
                        <div class="col-sm-6 form-group">
                            <input type="text" placeholder="请输入验证码" class="J_mailVal form-control">
                        </div>
                        {{ forget_form.captcha }}
                    </div>
                    <span class="clearfix"></span>
                    <div class="row">
                        <div class="form-group btn-group">
                            <div class="col-sm-12">
                                <button id="step3" class="btn btn-primary">发送验证邮箱</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mailFaild" style="display:none">
                <!--h2 密码找回链接已失效，请重新申请。-->
                <dl>
                    <dt>
                        <img src="http://cdn.aixifan.com/dotnet/20130418/project/login/style/image/ac1.png">
                    </dt>
                    <dd>
                        <h1>密码找回链接已失效，请重新申请。</h1>
                    </dd>
                </dl>
            </div>
            <div id="mailSuccess" style="display:none">
                <dl>
                    <dt>
                        <img src="http://cdn.aixifan.com/dotnet/20130418/project/login/style/image/ac.png">
                    </dt>
                    <dd>
                        <h1>验证邮箱发送成功！</h1>
                        <h2>验证邮件10分钟内有效，请尽快登录您的邮箱点击验证链接完成验证。</h2>
                    </dd>
                </dl>
            </div>
            <div id="setPw" style="display:none" class="f-block">
                <div style="margin-bottom:15px" class="input pwd">
                    <i class="icon icon-lock"></i>
                    <input type="password" placeholder="6到32个字符" class="inputUn">
                </div>
                <div class="input qrpwd">
                    <i class="icon icon-lock"></i>
                    <input type="password" placeholder="重复输入新密码" class="inputUn2">
                </div>
                <div class="btnWrap">
                    <div href="" class="next">提交修改</div>
                </div>
            </div>
            <div id="mailsetPw" style="display:none" class="f-block">
                <div style="margin-bottom:15px" class="input pwd">
                    <i class="icon icon-lock"></i>
                    <input type="password" placeholder="6到32个字符" class="inputUn">
                </div>
                <div class="input qrpwd">
                    <i class="icon icon-lock"></i>
                    <input type="password" placeholder="重复输入新密码" class="inputUn2">
                </div>
                <div class="btnWrap">
                    <div href="" class="next">提交修改</div>
                </div>
            </div>
            <div id="success" style="display:none" class="f-block">
                <h1>密码重置成功
                    <span>3</span>s后自动跳转首页</h1>
                <a href="http://www.acfun.cn/">立即跳转</a>
            </div>
        </div>

    </div>
    <footer id=" footer " chromeappversion="3.0.3 ">
        <div class="page-width ">
            <ul class="footer-c clearfix ">
                <li>
                    <h6>dilidili</h6>
                    <a class="card ">关于我们</a>
                    <a class="card ">友情链接</a>
                    <a class="card ">周边</a>
                    <a class="card ">联系我们</a>
                    <a class="card ">加入我们</a>
                    <a class="card ">官方认证</a>
                </li>
                <li class="middle ">
                    <h6>传送门</h6>
                    <a class="card ">帮助中心</a>
                    <a class="card ">高级弹幕</a>
                    <a class="card ">活动专题页</a>
                    <a class="card ">侵权申诉</a>
                </li>
                <li class="footer-icon ">
                    <div class="cont ">
                        <a class="app ">
                            <i></i>
                            <em>手机端下载</em>
                            <img src="/static/images/app-qrcode.png " alt="# ">
                        </a>
                        <a class="weibo ">
                            <i></i>
                            <em>新浪微博</em>
                            <img src="/static/images/weibo-qrcode.png " alt="# ">
                        </a>
                        <a class="weixin ">
                            <i></i>
                            <em>官方微信</em>
                            <img src="/static/images/weixin-arcode.gif " alt="# ">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </footer>
    <script src="/static/js/jquery.min.js "></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/bootstrapValidator.min.js "></script>
    <script>
        $('#userName form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                account: {
                    message: '请输入手机号或者邮箱号码',
                    validators: {
                        callback: {/*自定义，可以在这里与其他输入项联动校验*/
                            message: '请输入正确的手机号或者邮箱',
                            callback: function (value, validator, $field) {
                                return regEmail.test(value) || regPhone.test(value)
                            }
                        }
                    }
                },
            }
        });
        // Validate the form manually
        $('#step1').click(function () {
            $('#userName form').bootstrapValidator('validate');
            var flag = $('#userName form').data('bootstrapValidator').isValid();
            var account = $("#account").val();
            if (flag) {
                findPasswordType(account)
            }
        });

        //验证账号类型
        function findPasswordType(account) {
            if (account) {
                if (regEmail.test(account)) {
                    nextProgressActive()
                    showTabsCodeSendBox(1, account)
                } else if (regPhone.test(account)) {
                    showTabsCodeSendBox(2, account)
                    nextProgressActive()
                } else {
                    alert("你输了个什么东西")
                }
            }
        }

        //激活进度条
        function nextProgressActive() {
            var steps = $('.lineWrap.active').length
            $('.lineWrap').eq(steps).addClass('active')
        }

        //切换tab显示发送验证码方式
        function showTabsCodeSendBox(types, account) {
            /**@argument
             * type = 2:手机  1:邮箱
             */
            $('#userName').hide().siblings('#mobileUser').show()
            if (types == 1) {
                $('.youxiang').show()
                $('.yzMail').html('验证邮箱：' + account)
            }else{
                $('.shouji').show()
                $('.yzMobile').html('验证手机：' + account)
            }
        }

    </script>
</body>

</html>