<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>尽情的感受吧~</title>
    <link rel="shortcut icon" href="/static/images/fd039245d688d43fd4ffdc55791ed21b0ff43bc6.jpg">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrapValidator.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<style>
    .checkbox i.form-control-feedback {
        top: -2px;
    }
</style>

<body>
    <header id="header">
        <div id="page_top">
            <div class="bg-wrap">
                <div class="bg"></div>
            </div>
            <div class="header-top">
                <div class="page-width clearfix">
                    <div class="header-top__nav">
                        <ul>
                            <li class="item item-home">
                                <a href="{% url 'index' %}">主站</a>
                            </li>
                            <li class="item">
                                <a href="#">图库</a>
                            </li>
                            <li class="item">
                                <a>动漫</a>
                                <div class="game-center header-hover">
                                    <div class="c clearfix">
                                        <div class="fl">
                                            <div class="imgbox">
                                                <a>
                                                    <img src="/static/images/game-center__img1.jpg" alt="#">
                                                    <span>命运-冠位指定（Fate/GO）</span>
                                                </a>
                                            </div>
                                            <div class="game-img">
                                                <a>
                                                    <img src="/static/images/game_img1.png" alt="#">
                                                    <span>刀剑乱舞</span>
                                                </a>
                                                <a>
                                                    <img src="/static/images/game_img2.png" alt="#">
                                                    <span>刀剑乱舞</span>
                                                </a>
                                                <a>
                                                    <img src="/static/images/game_img3.jpg" alt="#">
                                                    <span>刀剑乱舞</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="fr">
                                            <div class="game-list">
                                                <div class="title">
                                                    <i></i>
                                                    <a>热门动漫</a>
                                                </div>
                                                <div class="all">
                                                    <a>仙剑奇侠传幻璃镜</a>
                                                    <a>魔法禁书目录</a>
                                                    <a>萌王EX</a>
                                                    <a>妖精的衣橱</a>
                                                    <a>神代梦华谭</a>
                                                    <a>碧蓝航线</a>
                                                    <a>光明大陆</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="gameImg"></div>
                                </div>
                            </li>
                            <li class="item">
                                <a>电影</a>
                                <div class="live-box header-hover">
                                    <div class="live-box__c">
                                        <div class="fl">
                                            <div class="title">热门直播:</div>
                                            <div class="cont">
                                                <a>
                                                    <img src="/static/images/live-box__img1.jpg" alt="#">
                                                    <i>LIVE</i>
                                                    <p>热爱电竞の三三</p>
                                                </a>
                                                <a>
                                                    <img src="/static/images/live-box__img2.jpg" alt="#">
                                                    <i>LIVE</i>
                                                    <p>大角虫漫画</p>
                                                </a>
                                                <a>
                                                    <img src="/static/images/live-box__img3.jpg" alt="#">
                                                    <i>LIVE</i>
                                                    <p>木本青</p>
                                                </a>
                                                <a>
                                                    <img src="/static/images/live-box__img4.gif" alt="#">
                                                    <i>LIVE</i>
                                                    <p>一只小鹿噜噜噜</p>
                                                </a>
                                                <a>
                                                    <img src="/static/images/live-box__img5.jpg" alt="#">
                                                    <i>LIVE</i>
                                                    <p>污叶妹屮</p>
                                                </a>
                                                <a>
                                                    <img src="/static/images/live-box__img6.jpg" alt="#">
                                                    <i>LIVE</i>
                                                    <p>污污_永远的魔法师_</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="fl">
                                            <div class="title">热门直播:</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <a>音乐</a>
                            </li>
                            <li class="item">
                                <a>异世界</a>
                                <!-- <div class="header-app header-hover">
                          <i></i>
                        </div> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-c">
            <div class="page-width">
                <a href="#" id="header_logo"></a>
                <p id="header_title"></p>
                <div class="header-title">哔哩哔哩 (゜-゜)つロ 干杯~</div>
            </div>
        </div>
    </header>
    <!-- 登陆 -->
    <div class="title-line">
        <span class="tit" style="font-size: 38px;">重置密码</span>
    </div>
    <div class="login-main">
        <div class="login-bg">
            <div class="login-img"></div>
        </div>
        <div class="login-wrapper">
            <form class="row form-horizontal">
                <div class="form-group">
                    <div class="col-sm-8">
                        <input type="password" class="form-control" placeholder="请输入新密码" id="password1" name="password">
                    </div>
                </div>
                <input type="hidden" id="email" value="{{ email }}">
                <div class="form-group">
                    <div class="col-sm-8">
                        <input type="password" class="form-control" placeholder="请输入确认密码" id="password2" name="confirmPassword">
                    </div>
                </div>
                <div class="form-group">
                    {% csrf_token %}
                </div>
            </form>
            <div class="row">
                <div class="form-group btn-group">
                    <button id="validateBtn" class="btn btn-primary">确 定</button>
                </div>
            </div>
        </div>
    </div>
    <footer id=" footer " chromeappversion="3.0.3 ">
        <div class="page-width ">
            <ul class="footer-c clearfix ">
                <li>
                    <h6>dilidili</h6>
                    <a class="card ">关于我们</a>
                    <a class="card ">友情链接</a>
                    <a class="card ">周边</a>
                    <a class="card ">联系我们</a>
                    <a class="card ">加入我们</a>
                    <a class="card ">官方认证</a>
                </li>
                <li class="middle ">
                    <h6>传送门</h6>
                    <a class="card ">帮助中心</a>
                    <a class="card ">高级弹幕</a>
                    <a class="card ">活动专题页</a>
                    <a class="card ">侵权申诉</a>
                </li>
                <li class="footer-icon ">
                    <div class="cont ">
                        <a class="app ">
                            <i></i>
                            <em>手机端下载</em>
                            <img src="/static/images/app-qrcode.png " alt="# ">
                        </a>
                        <a class="weibo ">
                            <i></i>
                            <em>新浪微博</em>
                            <img src="/static/images/weibo-qrcode.png " alt="# ">
                        </a>
                        <a class="weixin ">
                            <i></i>
                            <em>官方微信</em>
                            <img src="/static/images/weixin-arcode.gif " alt="# ">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </footer>
    <script src="/static/js/jquery.min.js "></script>
    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/bootstrapValidator.min.js "></script>
    <script>
        $('form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            message: '密码最小长度不能少于6位'
                        },
                    }
                },
                confirmPassword: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        identical: {
                            field: 'password',
                            message: '两次输入密码不一致'
                        },
                    }
                },
            }
        });
        // Validate the form manually
        $('#validateBtn').click(function () {
            $('form').bootstrapValidator('validate');
            var flag = $('form').data('bootstrapValidator').isValid();
            if(flag){
                $.ajax({
                    url: {% url 'modifypwd' %},
                    type:'POST',
                    data:{
                        email:$('#email').val(),
                        password1:$('#password1').val(),
                        password2:$('#password2').val()
                    },
                    success(res){
                        if(res.code == 200){
                            window.location.href = "{% url 'login' %}"
                        }else{

                        }
                    }
                })
            }
        });
    </script>
</body>

</html>